<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JobInfoGlance</title>
<style type="text/css">
</style>
</head>
<body>
<div class="Discuss"><h3>A glance of the job market</h3></div>

<form method = "post">
    {% csrf_token%}
    <label>Job  title:</label>
    <input type = "text">  </input>
    <label>Location: </label>
    <input type = "text">  </input>
    <input type = "submit" value = "Submit"></input>
</form>







</body>
</html>
